/*importando un font-size personalizado, de uso libre*/

@font-face {
    font-family: Personalizado1;
    src: url(fonts/Rowdies-Bold.ttf);
}

@font-face {
    font-family: PersonalizadoTexto;
    src: url(fonts/Rowdies-Regular.ttf);
}

body {
    background-color: #6fa1eb;
}

#titulo {
    border: 5px solid #010514;
    /*espaciados*/
    padding: 10px;
    margin-top: -5px;
    text-align: center;
    color: #ab98ad;
    font-family: sans-serif, arial, helvetica;
    background-color: rgb(6, 18, 54);
}

.subtitulo1 {
    text-align: justify;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 20px #000000;
    font-family: Personalizado1;
    background-image: url(./img/pattern1.jpg);
    /*repetir la imagen de fondo*/
    background-repeat: repeat;
    /*para fondos de pantalla grandes*/
    background-size: 100%;
    /*dejar el fondo fijo*/
    background-attachment: fixed;
    /*posición del background*/
    background-position: right bottom;
    /*texto en mayúscula o minúscula*/
    text-transform: capitalize;
    /*colocarle una línea en la parte inferior al texto*/
    text-decoration: underline;
    /*espacio entre palabra*/
    word-spacing: 10px;
    /*espacio entre letra y letra*/
    letter-spacing: 5px;
}

.texto1 {
    text-align: justify;
    font-family: PersonalizadoTexto;
    /*altura de línea*/
    line-height: 50px;
    /*colocarle un identado al texto*/
    text-indent: 75px;
}