/*fuentes*/


/*Esitlos  generales*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    /*agregando patrón de fondo en la página*/
    background-image: url(../img/paven.png);
}


/*estilos de cabecera*/

#header {
    min-width: 1024px;
    /*para que ocupe el 100% del diseño original*/
    width: 100%;
    /*altura*/
    height: 250px;
    /*en caso de ser necesario, centre el div*/
    margin: 0px auto;
}


/*enlaces dentro de la cabecera*/

#header a {
    /*le quite la decoración al enlace*/
    text-decoration: none;
}


/*enlaces dentro de la cabecera*/

#header a {
    /*le quite la decoración al enlace*/
    text-decoration: none;
}


/*aplicando estilos al div del logotipo dentro del header*/

#header #logotipo {
    /*tamaño del div*/
    width: 750px;
    /*centrar el contenido del div*/
    margin: 0px auto;
    /*margen superior*/
    padding-top: 20px;
}


/*imagen dentro del logotipo*/

#header #logotipo img {
    display: block;
    text-align: center;
    /*centrar la imagen*/
    margin: 0px auto;
    width: 140px;
}


/*título dentro del header*/

#header h1 {
    text-align: center;
    font-size: 40px;
}


/*color del enlace*/

#header h1 a {
    color: #70b231;
}