/*fuentes*/

@font-face {
    font-family: "nevis";
    src: url("../fonts/nevis.eot"), url("../fonts/nevis.eot?#iefix") format("embedded-opentype"), url("../fonts/nevis.woff") format("woff"), url("../fonts/nevis.ttf") format("truetype"), url("../fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*Estilos  generales*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    /*agregando patrón de fondo en la página*/
    background-image: url(../img/paven.png);
}


/*formularios*/

input[type="text"],
input[type="email"],
input[type="password"],
select {
    border: 1px solid #c9c9c9;
    /*sombreado interno con 2px de difuminación*/
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    /*espaciado interno para todos los lados*/
    padding: 1px;
    /*añadimos más espaciado interno*/
    padding-top: 2px;
    padding-bottom: 2px;
    /*color le la fuente*/
    color: gray;
    /*efecto de transición*/
    transition: all 300ms;
}


/*cuando se posicionen sobre los elementos*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border: 1px solid #70b231;
    /*cuando esté escribiendo el texto se vuelva
    de color negro*/
    color: black;
}


/*CSS a los botones*/

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    display: inline-block;
    /*bordes levemente redondeados*/
    border-radius: 2px;
    width: 60px;
    padding: 3px;
    background-color: #70b231;
    border: 1px solid green;
    /*poner el cursor en forma de dedo*/
    cursor: pointer;
    color: white;
}


/*efecto cuando pase encima de los botones*/

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    box-shadow: 0px 0px 2px gray;
}


/*cuando se estén pulsando los botones*/

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    /*sombreado por dentro del input*/
    box-shadow: 0px 0px 3px gray inset;
    /*sombreado del texto*/
    text-shadow: 0px 0px 1px #ccc;
}


/*estilos de cabecera*/

#header {
    min-width: 1024px;
    /*para que ocupe el 100% del diseño original*/
    width: 100%;
    /*altura*/
    height: 250px;
    /*en caso de ser necesario, centre el div*/
    margin: 0px auto;
}


/*enlaces dentro de la cabecera*/

#header a {
    /*le quite la decoración al enlace*/
    text-decoration: none;
}


/*aplicando estilos al div del logotipo dentro del header*/

#header #logotipo {
    /*tamaño del div*/
    width: 750px;
    /*centrar el contenido del div*/
    margin: 0px auto;
    /*margen superior*/
    padding-top: 20px;
}


/*imagen dentro del logotipo*/

#header #logotipo img {
    display: block;
    text-align: center;
    /*centrar la imagen*/
    margin: 0px auto;
    width: 140px;
}


/*título dentro del header*/

#header h1 {
    text-align: center;
    font-size: 40px;
    font-family: "nevis";
    /*mayúsculas*/
    text-transform: uppercase;
    /*espaciado entre letras del título*/
    letter-spacing: 4px;
    margin-top: 10px;
    /*efecto tridimencional*/
    text-shadow: 0px 2px 1px #333333;
    /*tiempo en que se demorará el hover en realizar la transición*/
    transition: all 300ms;
}


/*cuando pasemos por encima del titulo de la página*/

#header h1:hover {
    /*añadir más sombreado, el segundo parámetro despueés de la coma,
    es el otro color que se añade en el difuminado de 4px*/
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}


/*color del enlace*/

#header h1 a {
    color: #70b231;
}


/*estilos a la barrra de navegación*/

#nav {
    /*tamaño mínimo de la barra de la navegación*/
    /*podemos dejar definido que ocupe todo el ancho con*/
    width: 100%;
    background-color: #333333;
    color: white;
    /*altura*/
    height: 40px;
    /*tipo de fuente*/
    font-family: sans-serif, helvetica, arial;
    /*tamaño de letra*/
    font-size: 14px;
    /*efecto de sobreado al nav*/
    box-shadow: 0px 0px 2px gray;
}


/*agregando estilos a los elementos dentro del ul que está en el div*/

#nav ul {
    /*quitar las viñetas*/
    list-style: none;
    /*quitar subrayados u otros efectos a los textos dentro del UL*/
    text-decoration: none;
    /*centrar todo*/
    margin: 0px auto;
    /*correr el contenido*/
    width: 1150px;
}


/*elementos li de primer nivel*/

#nav>ul>li {
    /*para que cada elemento se centre verticalmente*/
    line-height: 40px;
    /*para que los li se pongan uno al lado del otro*/
    float: left;
    /*borde de separación para cada elemento del li*/
    border-right: 2px solid gray;
    /*efecto de transición entre cada elemento del li*/
    transition: all 300ms;
}


/*aplicando css a los enlaces dentro de los li*/

#nav>ul>li>a {
    /*para poder modificar los elementos del DOM */
    display: block;
    /*espacio interno a la izquierda (distancia entre cada elemento de la lista)*/
    padding-left: 20px;
    /*espacio interno a la derecha (distancia entre cada elemento de la lista)*/
    padding-right: 20px;
    color: white;
    /*quitar subrayado de enlace*/
    text-decoration: none;
}


/*colocar una barra también al primer elemento de la lista */

#nav>ul>li a:first-child {
    border-left: 1px solid gray;
}


/*generar un efecto hover (que cambie de color cuando pase encima de 
cada opción del menú)*/

#nav>ul>li:hover {
    background-color: #70b231;
    /*sombreado interior, primer parámetro y segundo para que no mueva la sombra y 4 px de difuminado
    la propiedad inset genera la sombra en los bordes internos*/
    box-shadow: 0px 0px 4px green inset;
}


/*seleccionando menús desplegables*/

#nav>ul>li>ul {
    /*ocular los menús*/
    display: none;
    /*que no desfigure el sitio web*/
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    /*para que esté por encima de los elementos (se superponga)*/
    z-index: 1;
}


/*evento que genera el efecto sobre los menús desplegables (hover)*/

#nav>ul>li:hover>ul {
    display: block;
}

#nav>ul>li:hover>ul>li {
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    /*separado horizontalmente*/
    line-height: 25px;
    /*para simular que el contenido es mas pequeño*/
    font-size: 12px;
    transition: all 300ms;
}


/*cambiando color al texto dentro de los menús desplegables*/

#nav>ul>li:hover>ul>li a {
    color: #666666;
    /*QUITAR Subrayado*/
    text-decoration: none;
    border-left: none;
}


/*generar un efecto hover inset de los elementos dentro de los sub menús */

#nav>ul>li:hover>ul>li:hover {
    box-shadow: 0px 0px 6px #ccc inset;
}


/*css contenido*/

#content {
    width: 1250px;
    /*scroll mínimo*/
    min-height: 110px;
    /*recolocar el contenido */
    margin: 0px auto;
}


/*css barra lateral (aside)*/

#aside {
    /*ancho*/
    width: 200px;
    /*para que el aside vaya flotado a la izquierda*/
    float: left;
    /*margen externo para todos los lados de la caja*/
    margin: 30px;
    /*color de fondo*/
    background-color: white;
    /*border para todo el aside*/
    border: 1px solid #ccc;
    /*sombreado en el margen inferior del aside*/
    box-shadow: 0px 2px 2px #ccc;
    /*fuentes*/
    font-family: Arial, Helvetica, sans-serif;
}


/*css para cajas con clase (widget)*/

#aside .widget {
    /*despliegue de contenido*/
    display: block;
    width: 180px;
    /*correr el contenido para "adentro"*/
    margin: 5px auto;
    /*separación a nivel interno de los elementos (por arriba y abajo)*/
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    /*tamaño de letra*/
    font-size: 14px;
    /*borde inferior*/
    border-bottom: 1px dashed #666666;
}

#aside .widget:last-child {
    /*agregarle margin bottom al último elemento div del objeto
    con id aside*/
    margin-bottom: 20px;
}


/*estilos de formularios*/


/*encabezados de cada widget*/

#aside h3 {
    display: block;
    width: 100%;
    color: #333333;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #f2f3f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: none;
    border-left: none;
}