* {
    padding: 0px;
    margin: 0px;
}

#tit {
    width: 50%;
    height: 100%;
    text-align: center;
    /*centrando el div*/
    margin: 0px auto;
    /*espacio en parte superior*/
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 75px;
    background-color: #44881f;
}


/*todo el contenido centrado*/

#container {
    width: 1000px;
    background: #4a6891;
    color: white;
    margin: 0px auto;
}