* {
    padding: 0px;
    margin: 0px;
}


/*todo el contenido centrado*/

#container {
    width: 1000px;
    background: #4a6891;
    color: white;
    margin: 0px auto;
}


/*header con id tit*/

#tit {
    width: 100%;
    height: 150px;
    text-align: center;
    /*centrando el div*/
    margin: 0px auto;
    /*espacio en parte superior*/
    margin-top: 20px;
    text-align: center;
    color: #333;
    font-size: 75px;
    background-color: lightskyblue;
}