* {
    padding: 0px;
    margin: 0px;
}

#tit {
    width: 1320px;
    height: 70%;
    text-align: center;
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 75px;
    background-color: #44881f;
}