/*colocando a todo el contenido de la página, el mismo tipo de font-family*/

* {
    font-family: verdana, arial, helvet;
}

body>h1 {
    color: Red;
    text-align: center;
    /*poner el texto en negrita*/
    font-weight: bold;
}

ul li {
    font-size: 20px;
}


/*CONCEPTO DE PSEUDOCLASE: Es como una especie de selector*/


/*ej. seleccionando el primer elemento del li y aplicando estilos con css*/

ul li:first-child {
    color: purple;
    font-weight: bold;
}


/*elegir un elemento en específico de la lista*/

ul li:nth-child(3) {
    color: brown;
}


/*darle estilos al último elemento de la lista*/

ul li:last-child {
    color: blue;
    font-weight: bold;
}


/*aplicando estilos y pseudoclases al enlace*/

#enlace-google {
    font-size: 30px;
    color: lightsalmon;
}


/*cuando aún no se ha visitado el enlace*/

#enlace-google:link {
    color: red;
}


/*cuando ya se visitó el enlace*/

#enlace-google:visited {
    color: orangered;
}