/*
##############SELECTORES#########################
*/


/*Selector universal*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*selector de etiqueta*/


/*Títulos H1*/

h1 {
    background: red;
    color: white;
    padding: 10px;
}


/*Enlaces*/

a {
    font-size: 18px;
    color: green;
    text-decoration: none;
}


/*enlace dentro del footer (selector compuesto)*/

footer a {
    color: red;
}


/*Selector de id*/


/*aplicando los mismos estilos a diferentes id, deben aplicarse solo a un elemento*/

#descripcion,
#titulo {
    border: 5px solid black;
    /*margen interior*/
    padding: 15px;
}


/*se sobreescriben  las últimas modificaciones
a cualquier elemento de html, previamente aplicadas*/

#titulo {
    background: blue;
    border: 2px dashed white;
}


/*selector de clase, se utiliza para múltiples elementos*/

.parrafo {
    font-style: italic;
    /*text-decoration: underline;*/
    /*texto en negrita*/
    font-weight: bold;
    padding: 10px;
}

.parrafo1 {
    background-color: green;
    color: white;
}

.parrafo3 {
    background-color: orange;
    color: black;
}


/*selector de atributo, elementos en específico del dom*/

#usuario form {
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    /*para que se separen los elementos de los bordes*/
    padding: 20px;
}


/*poner elementos separados (hacia abajo)*/

#usuario form * {
    display: block;
}


/*estilo en concreto a los input dentro del formulario*/

input[type="text"] {
    margin-bottom: 15px;
    /*para que los campos sean un poco mas grandes*/
    padding: 10px;
    width: 200px;
}

input[type="submit"] {
    background: green;
    color: white;
    padding: 15px;
    font-size: 20px;
    /*pasar el texto dentro del botón de minúscula a mayúscula*/
    text-transform: uppercase;
    /*colocándole un borde más vistoso al botón*/
    border: 2px solid black;
    /*convertir el cursor en una "mano" cuando pase encima del botón*/
    cursor: pointer;
}