#titulo {
    font-weight: bold;
    color: red;
    text-align: center;
}

#titulo:hover {
    color: blue;
}

#enlace {
    /*para que se comporte como un bloque*/
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    /*tamaño*/
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*texto en negrita*/
    font-weight: bold;
    text-decoration: none;
    /*borde*/
    border: 5px solid rgb(7, 73, 7);
    /*transición: Se le aplica al objeto, el primer parámetro si 
    queremos que nos cambie todas las propiedades css, le colocamos all, el segundo parámetro es el tiempo
    dado en segundos(s) o milisegundos (ms), que demorará en realizar la transición*/
    /*transition: all 500ms;*/
    /*timing diferente a cada elemento */
    transition: border 500ms, background 3s, border-radius 1s;
}


/*cuando pase por encima del enlace*/

#enlace:hover {
    border-radius: 15px;
    background: orangered;
    border: 5px solid red;
}


/*las animaciones no se lanzan con una pseudoclase, estan basadas
en fotogramas claves (key frames) */


/*dándole estilo al div con id caja*/

#caja {
    margin-top: 25px;
    width: 250px;
    font-size: 20px;
    height: 250px;
    line-height: 250px;
    background-color: lightseagreen;
    text-align: center;
    color: white;
    border: 5px solid black;
    /*para aplicar la animación a un elemento del DOM, simplemente invocamos lo siguiente:
    animation-name: nombre del keyframe o los keyframes*/
    animation-name: desplazamiento;
    /*se puede definir también cuanto tiempo durará la animación, con la instrucción:*/
    animation-duration: 10s;
    /*hacer o no infinita la animación*/
    animation-iteration-count: infinite;
}


/*definiendo los keyframes para realizar la(s) animacion(es)*/


/*
@keyframes desplazamiento {
    /*el parámetro from, son los estilos css iniciales*/


/*el parámetro to, con los estilos css que terminará 
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 1200px;
    }
}*/

@keyframes desplazamiento {
    /*simulando que da vueltas el div, para esto empleamos tres keyframes,
    también podemos emplear porcentajes, haciendo referencia no al tamaño de la pantalla, sino al porcentaje
    de esta*/
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 1200px;
    }
    100% {
        margin-left: 0px;
    }
}